                               /* Normalize reset styles across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');
  
}

  html, body {
    height:100%;
  }

  body {
    
    font-style: normal;
    line-height: 1.5;
    background: linear-gradient(to right, #fafafa,#a2a8d3);
    
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .main {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    background: #fffdfd;
  }
  

                                         /*  Navigation Bar */
                                      
  /* css to reset all the designs */

  
  * {
      margin: 0;
      padding: 0;
      
  }
  
  html {
      font-size: 62.5%;
      font-family: 'Roboto', sans-serif;
  }
  
  li {
      list-style: none;
  }
  
  a {
      text-decoration: none;
  }
  
  .header {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    
    
  }
  
  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.0rem 1.0rem;
      background-color: rgb(71, 119, 139);
     
      
  }
  
  
  .hamburger {
      display: none;
  }
  
  .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background-color: #fff;
  }
  
  .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .nav-item {
      margin-left: 5rem;
  }
  
  .nav-link {
      font-size: 2rem;
      font-weight: 400;
      color: #ECF9FF;
      background-color: transparent;
    
  
  }

  
  
  .nav-link:hover {
      color: #021523;
  }
  
  .nav-logo {
      font-size: 3rem;
      font-weight: 500;
      color: #fff;
  }
  
  @media only screen and (max-width: 768px) {
      .nav-menu {
          position:fixed;
          left: -100%;
          top: 5rem;
          flex-direction: column;
          background-color: #0c1c30;
         overflow:0;
          width: 100%;
          border-radius: 20px;
          text-align: center;
          transition: 0.3s;
          box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
      }
  
      .nav-link {
          color: #599fb4;
      }
  
      .nav-menu.active {
          left: 0;
          top:5.5;
      }
  
      .nav-item {
          margin: 2.5rem 0;
      }
  
      .hamburger {
          display: block;
          cursor: pointer;
          
         
      }
  
      .hamburger.active .bar:nth-child(2) {
          opacity: 0;
      }
  
      .hamburger.active .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
      }
  
      .hamburger.active .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
      }
  }
  


/* add styles on elements */
                             /* Style the logo */

.logo {
  max-width: 100px; /* Limit the maximum width of the logo */
  margin-left: 0px; /* Add some left margin to the logo */
}



                                      /*Style for the seafood and Explore*/

.container{
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 0%;
  display:flexbox;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.content{
  text-align:center ;
  margin-top: 100px;
  margin-bottom: 100px;
}

.content h1{
  font-size: 160px;
  color: #4d92ab;
  font-weight:600;
  transition: 0.3s;
}

@media only screen and (max-width: 630px){
  .content h1{
    font-size: 80px;
  }
}


  
.content h1:hover{
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

.content a{
  text-decoration: none;
  display: inline-block;
  color: #4d92ab;
  font-size: 24px;
  border: 2px solid #ffffff;
  padding: 14px 70px;
  border-radius: 10px; 
  margin-top: 20px;
  font-family: Rajdhani;
  font-weight: 500;
  font-style: normal;
}


.explore-link:hover {
  background-color: #ffffff; /* Darken background color on hover */
  color:black; /* Change text color to white on hover */
  border-color: rgb(0, 0, 0);
}
                                            /*FOOTER*/


  footer {
    
    width: 100%;
    
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, #2b4353,#1a2639);
    
  }
  
  
  footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(imgs/wave1.png);
    background-size: 1000px 100px;
  }
  
  footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animatewave 4s linear infinite;
  }

  footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animatewave_02 4s linear infinite;
  }

  footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15;
    animation: animatewave 3s linear infinite;
  }

  footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animatewave_02 3s l
    
  }
  
  @keyframes animatewave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
  }

  @keyframes animatewave_02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
  }
  
  footer p {
    color: #ffffff;
    font-size: 0.9rem;
    margin: 0;
    color: #ffffff;
    font-size: 1rem;
    opacity: 1.9;
    margin: 0px 5px;
    letter-spacing: 0.5px;
    font-weight:400 ;

  }
  
  .footer-social {
    display: flex;
    justify-content: center;
    width: 100%; 
    background: #2b4353;
    height: 64px;
  }


  .footer-social a {
    text-decoration: none;
    padding: 10px;
    background:rgb(0, 0, 0);
    margin: 10px;
    border-radius:60% ;
    width: 39px;
    font-size: 1.5em;
    position: relative;
  }
  
  .footer-social a i{
    font-size: 1em;
    color: rgb(255, 251, 251);
    opacity: 0.9;
  }
  
  .footer-social a:hover{
    color: #fefeff;
    transition: 0.5s;
  }
  
  .footer-social a:hover i{
    color: rgb(255, 255, 255);
    transition: 0.5s;
  }
  
  .footer-info{
    background-color: #2b4353;
    padding: 20px;
    text-align: center;
    width: 100% ;
    
  
  }


  
  .footer-info p{
    color: #ffffff;
    font-size: 1.0rem;
    opacity: 1.9;
    margin: 0px 5px;
    letter-spacing: 0.5px;
    font-weight:400 ;
  }

.footer-social{
  background: linear-gradient(to right, #2b4353,#1a2639);
}

.footer-info{
  background: linear-gradient(to right, #2b4353,#1a2639);
}


a{
  text-decoration: none;
  color: #ffffff;
}

@keyframes rainbow {
  0% { color: #5585b5; }
  14% { color: #3baea0}
  28% { color: #0e2431 }
  42% { color: green; }
  57% { color: #fc3a52}
  
}

.rainbow-text {
  font-weight:lighter;
  font-size: qem;
  animation: rainbow 5s infinite;
}



.footer-cta {
  border-bottom: 1px solid #373636;
  
}
.single-cta i {
  color: #39799a;
  font-size: 30px;
  float: left;
  margin-left: 0px;
}
.cta-text {
  padding-left: opx;
  display: inline-block;
  margin-right: 23px;
}
.cta-text p{
  align-items: center;
}
.cta-text span {
  color: #4c77af;
  font-size: 12px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  background-size: cover;
  background-position: 100% 100%;
}



.header{
  position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 19999;
}