                               /* Normalize reset styles across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  html, body {
    height:100%;
  }

  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: linear-gradient(to right, #fafafa,#a2a8d3);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .main {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    background: #fffdfd;
  }
  

                                         /*  Navigation Bar */

  .nav1 {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background: #3d4b703a;
            backdrop-filter: blur(2px);
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.0;
    position: fixed;  top: 0; width: 100% ;/* Fix the navbar to the top of the page */
    z-index: 1000; /* Fix the navbar to the top of the page */
    margin-left: 0%;
  }

  
  .nav1 ul {
    list-style-type: none; 
    display: flex;
    width: 300px;
  }
  
  .nav1 ul li {
    display: inline-block; 
    margin-right: 20px; 
    position: relative;
   width: 100px;
   height: 70px;
   list-style: none;
  }
  
  .nav1 ul li a {
    text-decoration: none;
    color: #232121; 
    font-size: 16px; 
    font-weight: bold; 
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500
  }
  
  .nav1 ul li a:hover {
    color: #000000; 
  }

  .nav1 ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    color:#ffffff ;
    transition: .5s;
  }

  .nav1 ul li:hover a .icon{
    transform: translateY(-32px);
  }

  .nav1 ul li a .text {
  position: absolute;
  color: #ffffff;
  font-weight: 400;
  font-size: .75em;
  letter-spacing: .05em;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity .5s, transform .5s;
  filter: brightness(330%);
  
}

.nav1 ul li a:hover .text {
  opacity: .7;
  transform: translateY(0);
}




                                           
                                              /* Style the logo */

.logo {
  max-width: 100px; /* Limit the maximum width of the logo */
  margin-left: 0px; /* Add some left margin to the logo */
}



                                      /*Style for the seafood and Explore*/

.container{
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 0%;
  display:flexbox;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.content{
  text-align:center ;
  margin-top: 100px;
  margin-bottom: 100px;
}

.content h1{
  font-size: 160px;
  color: #f0fbff;
  font-weight:600;
  transition: 0.3s;
}

@media only screen and (max-width: 630px){
  .content h1{
    font-size: 80px;
  }
}
  
.content h1:hover{
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

.content a{
  text-decoration: none;
  display: inline-block;
  color: #f0fbff;
  font-size: 24px;
  border: 2px solid #ffffff;
  padding: 14px 70px;
  border-radius: 10px; 
  margin-top: 20px;
  font-family: Rajdhani;
  font-weight: 500;
  font-style: normal;
}


.explore-link:hover {
  background-color: #ffffff; /* Darken background color on hover */
  color:black; /* Change text color to white on hover */
  border-color: rgb(0, 0, 0);
}



                                                 /*Back video*/

.back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  filter: brightness(100%);
  min-width: 100%;
  overflow: hidden;
  z-index:-1;
  width: 40%;
  margin-bottom: 1%
}

.back-video {
  width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
}

.container2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  background-color: #ffffff;
  margin-top: 0;
  height: 100vh;
  background: linear-gradient(to right,    #fafafa,#a2a8d3); 
 }

@media only screen and (max-width: 768px) {
  .back-video {
    width: 100%;
  }
}

                                                              /*FOOTER*/


  footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  
  footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(imgs/wave1.png);
    background-size: 1000px 100px;
  }
  
  footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animatewave 4s linear infinite;
  }

  footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animatewave_02 4s linear infinite;
  }

  footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15;
    animation: animatewave 3s linear infinite;
  }

  footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animatewave_02 3s l
    
  }
  
  @keyframes animatewave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
  }

  @keyframes animatewave_02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
  }
  
  footer p {
    color: #ffffff;
    font-size: 0.8rem;
    margin: 0;
  }
  
  .footer-social {
    display: flex;
    justify-content: center;
    width: 100%; 
    background: #2b4353;
    height: 64px;
  }
  
  .footer-social a{
    text-decoration: none;
    padding: 10px;
    background:rgb(0, 0, 0);
    margin: 10px;
    border-radius:60% ;
    width: 34px;
  }
  
  .footer-social a i{
    font-size: 1em;
    color: rgb(255, 251, 251);
    opacity: 0.9;
  }
  
  .footer-social a:hover{
    color: #fefeff;
    transition: 0.5s;
  }
  
  .footer-social a:hover i{
    color: rgb(255, 255, 255);
    transition: 0.5s;
  }
  
  .footer-info{
    background-color: #2b4353;
    padding: 20px;
    text-align: center;
    width: 100% ;
  
  }
  
  .footer-info p{
    color: #ffffff;
    font-size: 0.6rem;
    opacity: 1.9;
    margin: 0px 5px;
    letter-spacing: 0.5px;
    font-weight:400 ;
  }

.footer-social{
  background: linear-gradient(to right, #2b4353,#1a2639);
}

.footer-info{
  background: linear-gradient(to right, #2b4353,#1a2639);
}


a{
  text-decoration: none;
  color: #ffffff;
}

@keyframes rainbow {
  0% { color: #5585b5; }
  14% { color: #3baea0}
  28% { color: #0e2431 }
  42% { color: green; }
  57% { color: #fc3a52}
  
}

.rainbow-text {
  font-weight:lighter;
  font-size: qem;
  animation: rainbow 5s infinite;
}