/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  /*.backs {
    background:linear-gradient(to right,#000000,  #0e333f);
   
  }*/

  
  .contact-section {
    display: flex;
    justify-content: center;
    padding-top: 5rem; 
    padding-bottom: 5rem; 
}

.container {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
}

.section-header {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5rem; 
    width: 50%; 
}

.subtitle {
    font-weight: bold;
    color: #b3d2ed; 
    margin-bottom: 1rem; 
}

.title {
    font-size: 2.5rem; 
    color: #b3d2ed;
    text-shadow: #ecebeb;
    
}

.form-container {
    width: 66.67%; 
    margin: 0 auto;
    text-align: center;
}

.input-group {
    display: grid;
    gap: 3.9rem; 
    margin-bottom: 1.5rem;
    color: #4B5563; 
    grid-template-columns: 1fr; 
}

@media (min-width: 768px) {
    .input-group {
        grid-template-columns: repeat(2, 1fr);
    }

    .section-header {
        width: 50%; 
    }
}

.input, .textarea {
    background-color: #F9FAFB; 
    border: 1px solid #D1D5DB; 
    font-size: 0.875rem;
    border-radius: 0.5rem; 
    width: 100%;
    padding: 0.75rem; 
    outline: none;
}

.input:focus, .textarea:focus {
    border-color: #8a4949; /
}

.btn {
    margin-top: 2.5rem;
    padding: 0.75rem 1.5rem; 
    background-color: #000000; 
    color:#b3d2ed;
    border: none;
    border-radius: 0.5rem; 
    cursor: pointer;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-section {
    animation: fadeIn 1s ease-in-out;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0c0c0d;
    font-family: "Segoe UI", sans-serif;
    font-weight: 500;
  }
  
  .btn {
    line-height: 1.8rem;
    border-radius: 9.5px;
    display: inline-flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    position: relative;
    background-color: #18181b;
    color: #b3d2ed;
    transition: background-color 0.2s ease-in-out;
    justify-content: center;
    text-align: center;
    cursor: pointer; /* Not included according to website */
  }
  
  .btn:hover {
    background-color: #000000;
  }
  
  .btn:before {
    content: "";
    position: absolute;
    background: linear-gradient(
      to right,
      rgb(0, 220, 130),
      rgb(54, 228, 218),
      rgb(7, 89, 84)
    );
    inset: -2px;
    z-index: -1;
    border-radius: 12.5px;
    transition: all 0.2s ease 0s;
  }
  
  .btn:hover:before {
    box-shadow: rgba(0, 220, 130, 0.5) 0px 0px 10px 0px,
      rgba(54, 228, 218, 0.5) 0px 0px 20px 0px;
  }
  
  .btn > span {
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-all;
  }
  
  